
<!-- <div class="content-wrapper">
  <div class="box box-info">
      <div class="box-header with-border">
          <h3 class="box-title"></h3>
      </div>
  </div>
  <div class="box-body" style="min-height:500px;">
      <div class="col-md-10"> -->

          <!-- <p-dialog header="Information"  [(visible)]="dialogDisplay" modal="modal" width="450" [responsive]="true">
                  <span style="padding:5px;font-size:20px;">
                   {{message}}
                  </span>  
                  <p-footer>
                    <button type="button" pButton icon="fa-close" (click)="dialogDisplay=false" label="Close"></button>
                  </p-footer>
          </p-dialog> -->

          <!-- <p-dataScroller [value]="users" [rows]="3">
              <p-header>
                  Scroll Down to to Load More
              </p-header>
              <ng-template let-user pTemplate="item">
                  <div class="ui-grid ui-grid-responsive ui-fluid" >
                      <div class="ui-grid-row">
                          <div class="ui-grid-col-3" style="text-align:center">
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-12" >
                                      
                                  </div>
                              </div>
                              <div class="ui-grid-row">
                                  <div class="ui-grid-col-12" style="font-size:17px;font-weight:bold;text-align:left;">
                                     
                                  </div>
                              </div>

                             
                          </div>
                          <div class="ui-grid-col-3" style="text-align:center">

                          </div>
                          <div class="ui-grid-col-6">
                              <div class="ui-grid ui-grid-responsive ui-fluid">
                                  
                                  
                                  <div class="ui-grid-row">
                                      <div class="ui-grid-col-12"> -->
                                    
                                          <!-- <a  (click)='openProfile(user.id);'  style="color:blue;cursor:pointer;">View Full Profile</a>    -->
                                          <!-- <a href="/admin/user-full-profile/{{user.id}}"  style="color:blue">View Full Profile</a>  -->
                                      <!-- </div>
                                  </div>
                                  <div class="ui-grid-row">
                                      <div class="ui-grid-col-12">
                                          <div class="box-footer1">
                                              <button type="submit" class="btn btn-warning" (click)="sendInterest(user);">
                                                  <i class="fa fa-heart-o" aria-hidden="true"></i> Send
                                              </button>
                                              <button type="submit" class="btn btn-primary" (click)="shortList(user);">
                                                  list
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </ng-template>
          </p-dataScroller>
      </div>
  </div>
</div> -->
<!-- 
<p-sidebar>
  Content
</p-sidebar> -->

<!-- <button type="text" (click)="display = true" pButton icon="fa-external-link-square" label="Show"></button -->


