<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-nav-bar></app-nav-bar>
<main class="app-main in" id="app-main">
  <div class="container-fluid">
      <div class="wrap">
          <form role="form" #frm="ngForm"> 
          <section class="app-content">
              <div class="row list_view" style="display:block">
                  <div class="col-md-12">
                      <div class="widget p-lg">
                          <div class="row">
                              <div class="col-md-8">
                                <p id="hea"class="panel-title text-center" ><font top="30px;" color="white"><i class="fa fa-sign-in" aria-hidden="true"></i>Insured Information</font></p>
                              </div>
                              
                               <!-- <div class="col-md-4">
                                  <a class="pull-right back_btn btn btn-primary" (click)='backAadhaar()'><i class="fa fa-angle-left"></i> Back</a>
                              </div> -->
                          </div>		
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Title:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                            
                          </div> 
                          <br>

                          <div class="form-group">
                            <label class="col-sm-1 control-label">Occupation:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Nationality:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label  id="builno" class="col-sm-5 control-label">City:</label>
                            <div class="col-sm-4">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div>                        
                          <div class="form-group">
                            <label id="builno"class="col-sm-5 control-label">Building No:</label>
                            <div class="col-sm-4">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          
                          <div class="form-group">
                            <label  id="builno" class="col-sm-1 control-label">Street:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                         
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Full Name(English):</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          
                          <div class="form-group">
                            <label class="col-sm-1 control-label">cast.additional.no:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                        
                          <div class="form-group">
                            <label class="col-sm-1 control-label">neighboardhood:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Full Name(Arabic):</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Postall Code:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Unit No:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>



                      </div>
                  </div>
              </div>
              
          </section><!-- #dash-content -->
          </form>
      </div><!-- .wrap -->
  </div>
</main><!-- .wrap -->
  


<main class="app-main in" id="app-main">
  <div class="container-fluid">
      <div class="wrap">
          <form role="form" #frm="ngForm"> 
          <section class="app-content">
              <div class="row list_view" style="display:block">
                  <div class="col-md-12">
                      <div class="widget p-lg">
                          <div class="row">
                              <div class="col-md-8">
                                <p id="hea"class="panel-title text-center" ><font top="30px;" color="white"><i class="fa fa-sign-in" aria-hidden="true"></i>Communication Addres</font></p>
                              </div>
                              
                               <!-- <div class="col-md-4">
                                  <a class="pull-right back_btn btn btn-primary" (click)='backAadhaar()'><i class="fa fa-angle-left"></i> Back</a>
                              </div> -->
                          </div>		
                          
                          
                          
                          <div class="form-group">
                            <label  id="builno" class="col-sm-5 control-label">City:</label>
                            <div class="col-sm-4">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div>                        
                          <div class="form-group">
                            <label id="builno"class="col-sm-5 control-label">Building No:</label>
                            <div class="col-sm-4">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          
                          <div class="form-group">
                            <label  id="builno" class="col-sm-1 control-label">Additional Number:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                         
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Postal Code:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          
                        
                          <div class="form-group">
                            <label class="col-sm-1 control-label">neighboardhood:</label>
                            <div class="col-sm-2">
                              <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
                                <option  id="days">&nbsp;&nbsp;---Select---</option>
                              </select>
                            </div>
                          </div> 
                          <br>
                          
                        
                          
                          
                      </div>
                  </div>
              </div>
              
          </section><!-- #dash-content -->
          </form>
      </div><!-- .wrap -->
  </div>
</main><!-- .wrap -->
  
















<div id="total">   
  <p id="head"class="panel-title text-center" ><font top="30px;" color="white"><i class="fa fa-sign-in" aria-hidden="true"></i>Travel Period</font></p>
 <br>
  <select id="days" style="height:35px;width:300px; left:50px;"   class="form-control">
    <option  id="days">&nbsp;&nbsp;---Select---</option>
    <option >&nbsp;&nbsp;15 Days</option>
    <option >&nbsp;&nbsp;30 Days</option>
    <option >&nbsp;&nbsp;45 Days</option>
    <option >&nbsp;&nbsp;60 Days</option>
    <option >&nbsp;&nbsp;90 Days</option>
  </select>
  <input id="inseptionDate" class="form-control" type="date" [(ngModel)]="exp"/>
  <input id="coverPriod" class="form-control" value='{{"myday+exp"}}' type=""/>
  <br><br>
</div>