<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<!-- APP NAVBAR ==========-->
<nav class="app-navbar bg-primary primary in" id="app-navbar">
	<div class="container-fluid">
		<!-- navbar-header -->
		<div class="pull-left" id="navbar-header">
			<div class="animated">
				<a class="app-brand text-white" id="app-brand" href="index.html">
					<span class="brand-icon" id="brand-icon"><i class="fa fa-plane" aria-hidden="true"></i></span>
					<span class="brand-icon foldable" id="brand-name">TRAVEL</span>
				</a>
			</div>
		</div>
		<!-- /navbar-header -->
		
		<!-- navbar nav -->
		<div>
			<ul class="pull-right" id="top-nav">
				<li class="nav-item dropdown">
					<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)"><i class="fa fa-bell"></i></a>
					<div class="media-group dropdown-menu">
						<a class="media-group-item" href="javascript:void(0)">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-xs avatar-circle">
										<i class="status status-online"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">John Doe</h5>
									<small class="media-meta">Active now</small>
								</div>
							</div>
						</a><!-- .media-group-item -->

						<a class="media-group-item" href="javascript:void(0)">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-xs avatar-circle">
										<i class="status status-offline"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">John Doe</h5>
									<small class="media-meta">2 hours ago</small>
								</div>
							</div>
						</a><!-- .media-group-item -->

						<a class="media-group-item" href="javascript:void(0)">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-xs avatar-circle">
										<i class="status status-away"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Sara Smith</h5>
									<small class="media-meta">idle 5 min ago</small>
								</div>
							</div>
						</a><!-- .media-group-item -->

						<a class="media-group-item" href="javascript:void(0)">
							<div class="media">
								<div class="media-left">
									<div class="avatar avatar-xs avatar-circle">
										<i class="status status-away"></i>
									</div>
								</div>
								<div class="media-body">
									<h5 class="media-heading">Donia Dyab</h5>
									<small class="media-meta">idle 5 min ago</small>
								</div>
							</div>
						</a><!-- .media-group-item -->
					</div>
				</li>
				<li class="nav-item dropdown">
					<a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)"><i class="fa fa-cog"></i></a>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)"><i class="fa fa-user"></i>My Profile</a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-envelope"></i>Connection</a></li>
						<li><a href="javascript:void(0)"><i class="fa fa-book"></i>Privacy</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a role="button" data-class="open" data-target="#side-panel" data-toggle="class" class="side-panel-toggle" href="javascript:void(0)" data-active="false">
						<i class="fa fa-bars"></i>
					</a>
					<div class="side-panel" id="side-panel">
						<div class="panel-header">
							<h4 class="panel-title">Friends</h4>
						</div>
						<div class="scrollable-container ps-container ps-theme-default ps-active-y">
							<div class="media-group">
								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-online"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">John Doe</h5>
											<small class="media-meta">active now</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-online"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">John Doe</h5>
											<small class="media-meta">active now</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-online"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Adam Kiti</h5>
											<small class="media-meta">active now</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-away"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Jane Doe</h5>
											<small class="media-meta">away</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-away"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Sara Adams</h5>
											<small class="media-meta">away</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-away"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Smith Doe</h5>
											<small class="media-meta">away</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-away"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Dana Dyab</h5>
											<small class="media-meta">away</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-offline"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Jeffry Way</h5>
											<small class="media-meta">2 hours ago</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-offline"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Jane Doe</h5>
											<small class="media-meta">5 hours ago</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-offline"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Adam Khoury</h5>
											<small class="media-meta">22 minutes ago</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-offline"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Sara Smith</h5>
											<small class="media-meta">2 days ago</small>
										</div>
									</div>
								</a><!-- .media-group-item -->

								<a class="media-group-item" href="javascript:void(0)">
									<div class="media">
										<div class="media-left">
											<div class="avatar avatar-xs avatar-circle">
												<i class="status status-offline"></i>
											</div>
										</div>
										<div class="media-body">
											<h5 class="media-heading">Donia Dyab</h5>
											<small class="media-meta">3 days ago</small>
										</div>
									</div>
								</a><!-- .media-group-item -->
							</div>
						</div><!-- .scrollable-container -->
					</div>
				</li>
			</ul>
		</div>
		<!-- /navbar-nav -->
  </div>
  <app-top-bar></app-top-bar>
</nav>
<!--========== END app navbar -->

