<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<app-nav-bar></app-nav-bar>

<main class="app-main in" id="app-main">
    <div class="container-fluid">
        <div class="wrap">
            <form role="form" #frm="ngForm"> 
            <section class="app-content">
                <div class="row list_view" style="display:block">
                    <div class="col-md-12">
                        <div class="widget p-lg">
                            <div class="row">
                                <div class="col-md-8">
                                    Select User/Broker:<select class="form-control" style="width: 200px;height:35px;">
                                                        <option>Select</option>
                                                        <option>user1</option>
                                                        <option>user2</option>
                                                       </select>
                                </div>
                                <br><br><br>
                                <div class="col-md-2">
                                    <div class="input-group">
                                            <input type="text" style="position: relative;left:900px;bottom:20px;" name="SelectedName" class="form-control" id="inputPassword3" (change)='loadOutletRegistrationByName(SelectedName)' placeholder="Search Your Name" required [(ngModel)]='SelectedName'>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                                    <a class="pull-right back_btn btn btn-primary" (click)='backAadhaar()'><i class="fa fa-angle-left"></i> Back</a>
                                </div> -->
                            </div>	
                            
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Quote No</th>
                                        <th>Customer Name</th>
                                        <th>Quote Date</th>
                                        <th>validity Date</th>
                                        <th>Active</th>
                                        <th>Reject</th>
                                    </tr>
                                    <tr *ngFor="let card of storeArray; let i = index"> 
                                        <td>{{i+1}}</td> 
                                        <td>{{card.QUOTE_NO}}</td> 
                                        <td>{{card.CUSTOMER_NAME}}</td> 	  
                                        <td>{{card.QUOTATION_DATE}}</td>
                                        <td>{{card.VALIDITY_DATE}}</td>
                                        <td><button class="btn btn-success" style="font-size:15px"><i class="fa fa-hand-o-up"></i></button></td>
                                        <td><button class="btn btn-danger" style="font-size:15px"><i class="fa fa-remove"></i></button></td>
                                    </tr>
                                     
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </section><!-- #dash-content -->
            </form>
        </div><!-- .wrap -->
    </div>
</main>