<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-nav-bar></app-nav-bar>
<main class="app-main in" id="app-main">
  <div class="container-fluid">
      <div class="wrap">
          <form role="form" #frm="ngForm"> 
          <section class="app-content">
              <div class="row list_view" style="display:block">
                  <div class="col-md-12">
                      <div class="widget p-lg">
                          <div class="row">
                              <div class="col-md-8">
                                  Select User/Broker:<select class="form-control" style="width: 200px;height:35px;">
                                                      <option>Select</option>
                                                      <option>user1</option>
                                                      <option>user2</option>
                                                     </select>
                              </div>
                              <br><br><br>
                              <div class="col-md-2">
                                  <div class="input-group">
                                        <input type="text" style="position: relative;left:900px;bottom:20px;" name="SelectedName" class="form-control" id="inputPassword3" (change)='loadOutletRegistrationByName(SelectedName)' placeholder="Search Your Name" required [(ngModel)]='SelectedName'>
                                      <!-- <div class="input-group-btn">
                  
                                          <button class="btn btn-info" type="submit" (click)='loadOutletRegistrationByName(SelectedName)'><i class="fa fa-search"></i></button>
                                         
                                      </div> -->
                                  </div>
                              </div>
                              <!-- <div class="col-md-4">
                                  <a class="pull-right back_btn btn btn-primary" (click)='backAadhaar()'><i class="fa fa-angle-left"></i> Back</a>
                              </div> -->
                          </div>	
                          <div id="total">
                              <p id="head" ><font top="30px;" color="white">
                                show <select style="background-color:black">
                                  <option>10</option>
                                  <option>25</option>
                                  <option>50</option>
                                  <option>All</option>
                              </select>entries</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 ;
                            <!-- <font color="white">Search:</font><input type="string"/> -->
                            </p>
                            <table class="table table-bordered">
                              <tbody>
                                  <tr>
                                      <th>S.No</th>
                                      <th>Customer Name</th>
                                      <th>Address</th>
                                      <th>EmailId</th>
                                      <th>Contact No</th>
                                      
                                  </tr>
                                  <tr *ngFor="let card of storeArray; let i = index"> 
                                      <td>{{i+1}}</td> 
                                      <td>{{card.CUST_NAME}}</td> 
                                      <td>{{card.ADDRESS}}</td> 	  
                                      <td>{{card.EMAIL}}</td>
                                      <td>{{card.MOBILE}}</td>
                                     
                                  </tr>
                                   
                              </tbody>
                          </table>
                          <p *ngIf="((storeArray.length)<1)">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                               <font color="red"> Sorry No data Available</font></p>
                        </div>
                      </div>
                  </div>
              </div>
              
          </section><!-- #dash-content -->
          </form>
      </div><!-- .wrap -->
  </div>
</main>


